html,body{-webkit-text-size-adjust:none;}

.tag-list-container{
	position:fixed;
	right:0px;
	width:300px;
	top:10px;
	z-index:1001;
}

.tag-list-container >img{
	position:fixed;
	right:5px;
	cursor:pointer;
}

.tag-list-container >ul{
	background:#FFF;
	border:1px solid #CCC;
    z-index:10 ;
	overflow:hidden;
	display:block;
	margin:0px;
	padding:5px;
	margin-top:20px;
	display:none;
	width:290px;
}

.tag-list-container >ul li{
	width:90%;
	padding:5px 2px;
	cursor:pointer;
	display:block;
}

.tag-list-container >ul li .memo-item{
	font-size:12px;
}

.tag-list-container >ul li .memo-item span{
	-webkit-text-size-adjust:none;
	font-size:10px!important;
	padding-left:3px;
	color:#CCC;
}


.tag-list-container >ul a{
	padding-left:5px;
}

.tag-list-container >ul li:hover{
	background:#EEE;
}

.tag-list-container >ul li.active{
	background:#CCC;
}