/* Autocomplete
----------------------------------*/
.ui-autocomplete { position: absolute; cursor: default; z-index:2;}	
.ui-autocomplete-loading { background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat; }

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

/* Menu
----------------------------------*/
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	/*width: 100%;*/
	white-space:nowrap;
	overflow:hidden;   
	text-overflow:ellipsis;
	
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:1px .4em;
	line-height:1.5;
	white-space:nowrap;
	overflow:hidden;   
	text-overflow:ellipsis;
	/*zoom:1;*/
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	margin: -1px;
}

.ui-menu .ui-state-hover{
	border:0px;
}
/*combo*/
.ui-combobox-cont{
	display:inline-block;
	white-space:nowrap;
	margin:0px;
	padding:0px;
	/*padding:2px 0px 2px 2px;*/
	border:1px solid #A4BED4;
	position:relative;
}

.ui-combobox-cont input{
	border:0px;
	padding:0px;
	margin:0px;
}

.ui-combobox-cont span{
	margin:0px 0px 0px 0px;
	padding:0px;
	display:inline-block;
	cursor: pointer;
}

/***/
span.combobox{
	display: inline-block;
	border:none;
}

span.combobox input{
	padding: 4px 3px;
	height: 18px;
	line-height: 18px;
	vertical-align: middle;
	border:1px solid #CCC;
	overflow:visible;
	margin-right:0px;
}

span.combobox .add-on{
	display: inline-block;
	width: auto;
	min-width: 16px;
	height: 18px;
	padding: 4px 5px;
	margin-left:-1px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 1px 0 white;
	vertical-align: middle;
	background-color: #EEE;
	border: 1px solid #CCC;
}
