.dialog_close{
	float: right; 
	clear:right;
	margin: 4px 0 0;
	*margin-top: 5px; 
	position: relative;
	width: 15px;
	height: 15px; 
	top:auto; 
	cursor: pointer; 
	background: url(images/close.gif) no-repeat !important;
}

.dialog_message_icon{
	width:32px;
	height:32px;
	background: url(images/window.gif) no-repeat !important;
}

.dialog_icon{
	width:15px;
	height:15px;
	float:left;
	clear:left;
	background: url(images/icon_dialog.gif) no-repeat !important;
}

.dialog_button_align{
	margin-right:3px;
}

.ui-dialog div.ui-dialog-titlebar{/*clear radius*/
	-moz-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px;border:none;position:relative;
	padding:8px;
	
}

.ui-dialog div.ui-dialog-titlebar .ui-dialog-title{
	float:left;
}

.ui-dialog .ui-dialog-titlebar-close {
	position: absolute;
	right: .3em;
	top: 50%;
	width: 19px;
	margin: -10px 0 0 0;
	padding: 1px;
	height: 18px;
	font-size: 20px;
	font-weight: bold;
	line-height: 13.5px;
}

.ui-dialog .ui-dialog-buttonpane {
	border-top: 1px solid #DADEE5;
	padding: 8px 20px;
	text-align: right;
	background-color: #F6F6F6;
	background-image: none;
}

.ui-dialog-buttonset{
	background-color: #F6F6F6;
}

.ui-dialog .ui-dialog-content{
	border-bottom: none;
}

.ui-dialog div.ui-dialog-content {
	padding:0px;
}

.ui-dialog{
	min-width: 300px;
	_width:300px;
}