	<div id="setting_content">
		<div id="setting_center">
			<div class="setting_side">
				<h2 class="nav_title">设置</h2>
				<div id="setting_nav">
					<!--有配置页面的菜单	
					-->					
				</div>
			</div>
			<div id="settingpage_container">
				<div class="settingpage_container_head">					
					<div class="setting_title">
						<span class="setting_title_l"></span>
						<span class="setting_title_r"></span>
						<div id="setting_title"></div>
					</div>
				</div>
				<iframe id="setting_main" src="about:blank" width="100%" height="400px" frameborder="0"></iframe>
			</div>
			<div class="clear"></div>
		</div>
	</div>
<script type="text/javascript">
<!--
	webos.utils.include(webosService.root,["themes/default/setting.css","setting/js/setting.js"]) ;
//-->
</script>
