<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" " http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>jQuery EasyUI</title>
	<script src="../../../../scripts/jquery.js" type="text/javascript" class="view-source"></script>
	<script src="../../../../scripts/jquery.utils.js" type="text/javascript" class="view-source"></script>
	
	<link  href="../../../../themes/default/ui.css" type="text/css" rel="stylesheet"  class="view-source"/>
	<link  href="../layout.css" type="text/css" rel="stylesheet"  class="view-source"/>
	
	<!-- 换肤 -->
	<script type="text/javascript" src="../../../theme_cookie.js"></script>
	
	<script src="../../layout/jquery.layout.js" type="text/javascript" class="view-source"></script>
	
	<link type="text/css" href="../../../demos.css" rel="stylesheet" />
	<script src="../../../demos.js" type="text/javascript"></script>
	
	<script type="text/javascript" src="../../../../scripts/jquery_plugins/jquery.json.js"></script>
	
</head>
<body class="widget-class" widget="layout">
	<div region="north" border="true" style="height:60px;">north region</div>
	<div region="west" split="true" title="West" style="width:150px;padding:10px;">west content</div>
	<div region="east" split="true" title="East" style="width:100px;padding:10px;">east region</div>
	<div region="south" border="true" style="height:50px;">south region</div>
	<div region="center" title="Main Title" class="vs-container"></div>
	
	<script type="code-pretty" class="view-source noparse inner-code">
<body class="widget-class" widget="layout">
	<div region="north" border="true" style="height:60px;">north region</div>
	<div region="west" split="true" title="West" style="width:150px;padding:10px;">west content</div>
	<div region="east" split="true" title="East" style="width:100px;padding:10px;">east region</div>
	<div region="south" border="true" style="height:50px;">south region</div>
	<div region="center" title="Main Title" class="vs-container"></div>
</body>

      		</script>
</body>
</html>
	
		<style>
			body{
				overflow:hidden;
				padding:0px;
			}
		</style>
		<script>
			(function(){
				window._setIFrameHeight = function(iframe,height){
				   if($.browser.msie&&($.browser.version==6.0)&&!$.support.style){
						//do nothing
				   }else{
						$(iframe).css("height",height+"px") ;
				   }
					window._agentAutoHeight() ;
				} ;
				
				function agentAutoHeight(){
					var bHeight = document.body.scrollHeight;
					var dHeight = document.documentElement.scrollHeight;
					var oHeight = document.body.offsetHeight;
					var b_height =Math.max(oHeight,Math.max(bHeight,dHeight))+50;
					
					var b_iframe = document.getElementById("crossdomain_agent_iframe");     
					var src = b_iframe.src.split("#")[0] ;
					b_iframe.src = src+"#"+b_height;
				}
				
				window._agentAutoHeight = agentAutoHeight ;
			
			
				if(window.location.href.indexOf("/agent.html")!=-1)
					return ;
			
				function getHost(){
					var host = window.location.host ;
					return host.split(":")[0] ;
				}
				
				var baseUrl = "http://"+getHost()+":8001/bingo-ui-web" ;
				var _crossdomain_agent_iframe_url = baseUrl+"/view/crossdomain/agent.html"  ;
				
				
				if(!window.$){
					document.write('<script src="'+baseUrl+"/statics/scripts/jquery.js"+'" onload="_loadjQuery()">\<\/script>') ;
					
					window._loadjQuery = function(){
						$(document.body).append('<iframe id="crossdomain_agent_iframe"  width="100%"  src="'+_crossdomain_agent_iframe_url+'" style="display:none"> ');
						agentAutoHeight() ;
						setTimeout(function(){
							agentAutoHeight() ;
						},500) ;
					}
				}else{
					$(document.body).append('<iframe id="crossdomain_agent_iframe"  width="100%"  src="'+_crossdomain_agent_iframe_url+'" style="display:none"> ');
					$(function(){
						agentAutoHeight() ;
						setTimeout(function(){
							agentAutoHeight() ;
						},500) ;
					}) ;
				}
			})() ;
		</script>
	
