.combotree{
	display:inline-block;
	margin:0px;
	padding:0px;
	border:1px solid #A4BED4;
	position:relative;
	z-index: 20;
	white-space:nowrap;
}
.combotree-text{
	font-size:12px;
	border:0px;
}
.combotree-arrow{
	position:relative;
	margin-bottom:-2px;
	display:inline-block;
	cursor:pointer;
}
.combotree-arrow-hover{
	opacity:1.0;
	filter:alpha(opacity=100);
}

.combotree-content{
	position:absolute;
	display:none;
	overflow:auto;
	z-index:50;
}

.tree{
	font-size:12px;
	margin:0;
	padding:0;
	list-style-type:none;
}

.tree li{
	white-space:nowrap;
}

.tree li ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
.tree-node{
	height:18px;
	white-space:nowrap;
	cursor:pointer;
}
.tree-indent{
	display:inline-block;
	width:16px;
	height:18px;
	vertical-align:middle;
}
.tree-hit{
	cursor:pointer;
}
.tree-expanded{
	display:inline-block;
	width:16px;
	height:18px;
	vertical-align:middle;
	background:url('images/tree_arrows.gif') no-repeat -18px 0px;
}
.tree-expanded-hover{
	background:url('images/tree_arrows.gif') no-repeat -50px 0px;
}
.tree-collapsed{
	display:inline-block;
	width:16px;
	height:18px;
	vertical-align:middle;
	background:url('images/tree_arrows.gif') no-repeat 0px 0px;
}
.tree-collapsed-hover{
	background:url('images/tree_arrows.gif') no-repeat -32px 0px;
}
.tree-folder{
	display:inline-block;
	background:url('images/tree_folder.gif') no-repeat;
	width:16px;
	height:18px;
	vertical-align:middle;
}
.tree-folder-open{
	background:url('images/tree_folder_open.gif') no-repeat;
}
.tree-file{
	display:inline-block;
	background:url('images/tree_file.gif') no-repeat;
	width:16px;
	height:18px;
	vertical-align:middle;
}
.tree-loading{
	background:url('images/tree_loading.gif') no-repeat;
}
.tree-title{
	display:inline-block;
	line-height1:18px;
	text-decoration:none;
	vertical-align:middle;
	padding:1px 2px 1px 2px;
	white-space:nowrap;
}

.tree-node-hover{
	background:#fafafa;
}
.tree-node-selected{
	background:#FBEC88;
}

.ui-widget-content .combotree-hover{
	border:0px;
}

.ui-widget-content .combotree-active{
	border:0px;
}


/***/
span.input-append{
	display: inline-block;
	border:none;
}

.input-append input{
	padding: 4px 3px;
	height: 18px;
	line-height: 18px;
	vertical-align: middle;
	border:1px solid #CCC;
	overflow:visible;
}

.add-on{
	display: inline-block;
	width: auto;
	min-width: 16px;
	height: 18px;
	padding: 4px 5px;
	margin-left:-1px;
	font-weight: normal;
	line-height: 18px;
	text-align: center;
	text-shadow: 0 1px 0 white;
	vertical-align: middle;
	background-color: #EEE;
	border: 1px solid #CCC;
}


/* Menu
----------------------------------*/
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	/*width: 100%;*/
	white-space:nowrap;
	overflow:hidden;   
	text-overflow:ellipsis;
	
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:1px .4em;
	line-height:1.5;
	white-space:nowrap;
	overflow:hidden;   
	text-overflow:ellipsis;
	/*zoom:1;*/
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	margin: -1px;
}

.ui-menu .ui-state-hover{
	border:0px;
}
