 <!--
 <script type="text/javascript">
                var so = new SWFObject("images/clock.swf", "index", "100%", "100%", "9");
                so.addParam("menu", "false");
                so.addParam("wmode", "transparent");
                so.write("clock");
 </script>
 <embed height="100%" width="100%" wmode="transparent" menu="false" quality="high" name="index" id="index" src="images/clock2.swf" type="application/x-shockwave-flash">
 -->
 <embed height="100%" width="100%" wmode="transparent" menu="false" quality="high" name="index" id="index" src="widgets/images/clock2.swf" type="application/x-shockwave-flash">
 