 <!-- 系统公告 -->
<div class="tab_box deskbox web_note">
	<ul class="tab_menu">
		<li><a href="###" target="#tab1" class="current"><span>内部消息</span></a></li>
		<li><a href="###" target="#tab2"><span>最新邮件</span></a></li>
		<li><a href="###" target="#tab3"><span>待办任务</span></a></li>
	</ul>
	<div id="tab1" class="tab_content" style="display:block;">
		<ul>
			<li><a href="###" title="">品高“超男超女”海选投票开始啦</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">BingoDay的活动开展通知</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">公司2011年春节放假通知</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">好消息：2011品高“年度质量奖”报名开始了！</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">2011年度评奖活动开始拉！欢迎大家自荐和参与投票</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">元旦放假通知</a> <span class="note_time">07/23</span></li>
		</ul>
	</div>
	<div id="tab2" class="tab_content">
		<ul>
			<li><a href="###" title="">品高知识库快报第58期</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">本周羽毛球活动报名开始</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">本周足球活动报名开始</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">本周乒乓球活动报名开始</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">本周篮球活动报名开始</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">超男超女报名活动开始了</a> <span class="note_time">07/23</span></li>
		</ul>
	</div>
	<div id="tab3" class="tab_content">
		<ul>
			<li><a href="###" title="">BingoMultipleDesk测试报告</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">待办任务2</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">待办任务3</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">待办任务4</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">待办任务5</a> <span class="note_time">07/23</span></li>
			<li><a href="###" title="">待办任务6</a> <span class="note_time">07/23</span></li>
		</ul>
	</div>						
</div>
<script type="text/javascript">
<!--
	webos.utils.include(webosService.root,["widgets/css/widgets.css","widgets/js/widgets.js"]) ;
//-->
</script>