<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>jQuery EasyUI</title>
	<style>
		.function{
			background:url('../images/function.jpg') no-repeat transparent;
		}
	</style>
</head>
<body>
	<div class="function" style="width:100%;height: 100%"></div>
</body>
</html>
	
		<style>
			body{
				overflow:hidden;
				padding:0px;
			}
		</style>
		<script>
			(function(){
				window._setIFrameHeight = function(iframe,height){
				   if($.browser.msie&&($.browser.version==6.0)&&!$.support.style){
						//do nothing
				   }else{
						$(iframe).css("height",height+"px") ;
				   }
					window._agentAutoHeight() ;
				} ;
				
				function agentAutoHeight(){
					var bHeight = document.body.scrollHeight;
					var dHeight = document.documentElement.scrollHeight;
					var oHeight = document.body.offsetHeight;
					var b_height =Math.max(oHeight,Math.max(bHeight,dHeight))+50;
					
					var b_iframe = document.getElementById("crossdomain_agent_iframe");     
					var src = b_iframe.src.split("#")[0] ;
					b_iframe.src = src+"#"+b_height;
				}
				
				window._agentAutoHeight = agentAutoHeight ;
			
			
				if(window.location.href.indexOf("/agent.html")!=-1)
					return ;
			
				function getHost(){
					var host = window.location.host ;
					return host.split(":")[0] ;
				}
				
				var baseUrl = "http://"+getHost()+":8001/bingo-ui-web" ;
				var _crossdomain_agent_iframe_url = baseUrl+"/view/crossdomain/agent.html"  ;
				
				
				if(!window.$){
					document.write('<script src="'+baseUrl+"/statics/scripts/jquery.js"+'" onload="_loadjQuery()">\<\/script>') ;
					
					window._loadjQuery = function(){
						$(document.body).append('<iframe id="crossdomain_agent_iframe"  width="100%"  src="'+_crossdomain_agent_iframe_url+'" style="display:none"> ');
						agentAutoHeight() ;
						setTimeout(function(){
							agentAutoHeight() ;
						},500) ;
					}
				}else{
					$(document.body).append('<iframe id="crossdomain_agent_iframe"  width="100%"  src="'+_crossdomain_agent_iframe_url+'" style="display:none"> ');
					$(function(){
						agentAutoHeight() ;
						setTimeout(function(){
							agentAutoHeight() ;
						},500) ;
					}) ;
				}
			})() ;
		</script>
	
